#wrapper {
  font-family: arial, sans-serif;
}
#title{
  text-align: center;
}
table {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}
td {
  border: 1px solid black;
  text-align: center;
  height: 100px;
  width: 100px;
}
#result {
  text-align: center;
}
#reset{
  margin-bottom: 25px;
}
